
/* Defining Font Family For Digital Clock */
@font-face {
    font-family: digital;
    src: url('assets/digital-7.ttf');
}

/* Body Background Color */
html, body{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: lightblue;
    overflow: hidden;
}

/* Start Screen */
#startScreen{
	cursor: pointer;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
}

#startScreen > div{
	pointer-events: none;
	background-color: white;
	padding: 30px;
	border: 15px solid green;
	border-radius: 15%;
	top: 20%;
	width: 25%;
	margin: auto;
	margin-top: 70px;
}

/* Trump and Red Circle Styling */
#trump, #red{
    position: absolute;
    width: 50%;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin: auto;
    user-select: none;
}

/* Additional Red Circle Styling */
#red{
    opacity: 0;
    pointer-events: none;
}

/* Clock styling */
#clock {
    user-select: none;
    position: absolute;
    width: 200px;
    padding: 20px;
    left: 50%;
    top: 80%;
    transform: translateX(-50%);
    font-size: 4em;
    color: white;
    background-color: red;
    border-top: 5px solid black;
    font-family: digital;
    text-align: center;
}

/* Right Bird Styling */
#birdRight{
    position: absolute;
    width: 5%;
    left: 55%;
    top: 35%;
    opacity: 0;
    pointer-events: none;
}

/* Left Bird styling */
#birdLeft{
    position: absolute;
    width: 5%;
    left: 45%;
    top: 35%;
    opacity: 0;
    pointer-events: none;
}

#wallContainer{
	pointer-events: none;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	position: relative;
	width: 600px;
	height: 560px;
}

.brick{
	pointer-events: none;
	opacity: 0;
	position: absolute;
}

#brick1{
	left: 0px;
	top: 0px;
}
#brick2{
	left: 200px;
	top: 0px;
}
#brick3{
	left: 400px;
	top: 0px;
}
#brick4{
	left: 0px;
	top: 140px;
}
#brick5{
	left: 200px;
	top: 140px;
}
#brick6{
	left: 400px;
	top: 140px;
}
#brick7{
	left: 0px;
	top: 280px;
	
}
#brick8{
	left: 200px;
	top: 280px;
}
#brick9{
	left: 400px;
	top: 280px;
}
#brick10{
	left: 0px;
	top: 420px;
}
#brick11{
	left: 200px;
	top: 420px;
}
#brick12{
	left: 400px;
	top: 420px;
}

/* Animate classes to add to birds in javascript */
.animateFlyLeft {
    animation: flyLeft 2s both linear;
}

.animateFlyRight {
    animation: flyRight 2s both linear;
}
.animatedropDown
{
	animation: dropDown 1s both linear;
}
.animatedropFurther {
	animation: dropFurther 1s both linear;
}

/* Animation for Flying right */
@keyframes flyRight{
    from{
        opacity: 1;
        transform: translateX(-50%) translateY(-50%);
    }
    to{
        transform: translateX(100%) translateY(-100%);
        opacity: 0;
    }
}

/* Animation for flying left */
@keyframes flyLeft{
    from{
        opacity: 1;
        transform: translateX(-50%) translateY(-50%);
    }
    to{
        transform: translateX(-150%) translateY(-100%);
        opacity: 0;
    }
}
@keyframes dropDown{
	from{
		opacity: 0;
		transform:  translateY(-100%);
	}
	to{
		opacity: 1;
		transform:  translateY(0%);
	}
}
@keyframes dropFurther{
	from{
		opacity:1;
		transform: translateY(0);
	}
	to{
		opacity:0;
		transform: translateY(-100%);
	}
}
