
/* Defining Font Family For Digital Clock */
@font-face {
    font-family: digital;
    src: url('assets/digital-7.ttf');
}

/* Body Background Color */
body{
    background-color: lightblue;
}

/* Trump and Red Circle Styling */
#trump, #red{
    position: absolute;
    width: 50%;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

/* Additional Red Circle Styling */
#red{
    opacity: 0;
    pointer-events: none;
}

/* Clock styling */
#clock {
    position: absolute;
    width: 200px;
    padding: 20px;
    left: 50%;
    top: 80%;
    transform: translateX(-50%);
    font-size: 4em;
    color: white;
    background-color: red;
    border-top: 5px solid black;
    font-family: digital;
    text-align: center;
}

/* Right Bird Styling */
#birdRight{
    position: absolute;
    width: 5%;
    left: 55%;
    top: 35%;
    opacity: 0;
    pointer-events: none;
}

/* Left Bird styling */
#birdLeft{
    position: absolute;
    width: 5%;
    left: 45%;
    top: 35%;
    opacity: 0;
    pointer-events: none;
}

/* Animate classes to add to birds in javascript */
.animateFlyLeft {
    animation: flyLeft 2s both linear;
}

.animateFlyRight {
    animation: flyRight 2s both linear;
}

/* Animation for Flying right */
@keyframes flyRight{
    from{
        opacity: 1;
        transform: translateX(-50%) translateY(-50%);
    }
    to{
        transform: translateX(100%) translateY(-100%);
        opacity: 0;
    }
}

/* Animation for flying left */
@keyframes flyLeft{
    from{
        opacity: 1;
        transform: translateX(-50%) translateY(-50%);
    }
    to{
        transform: translateX(-150%) translateY(-100%);
        opacity: 0;
    }
}